@media (max-width: 600px){

    .eslogan{
        flex-direction: column;
        white-space: normal;
        gap: 5px;
    }

    .li-encontraras{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .li-encontraras li{
        white-space: normal;
    }

    .usuarios{
        flex-direction: column;
    }

}
/*inicio de body general*/
/*----------------------*/
*{
    box-sizing:border-box;
}

body{
    background-color: #fbf2dc;
    font-size: 22px;
}
body, p, ul{
    margin: 0;
    padding: 0;
}
/*--------------------*/
/*fin de body general*/


/*inicio de header*/
/*--------------------*/
.fondo-header {
    background-image: url(Imagenes/portada.jpg);
    background-size: cover;
    background-position: 75% 70%; /*o center para posicionar al centro*/
    padding: 0px;
    position: relative; /*relative = referencia*/
}

.fondo-header::before{
    content: "";
    position: absolute; /*usa esa referencia para colocarse*/
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1{
    font-family: "Yuyu Short", sans-serif;
    font-size: 120px;
    margin: 0;
    padding: 0;
    position: relative;
    color: #FAEDCD;
    text-align: center;
    text-shadow: -3px -3px #1d1d1d;
}

.eslogan p{
    font-size: 20px;
    font-weight: bold;
    color: #E9E5D6;
    text-shadow: -3px -3px #1d1d1d;
    position: relative;
}

.eslogan{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px; /*espacio para los hijos de flex*/
    white-space: nowrap; /*sin renglones*/
}
/*--------------------*/
/*fin de header*/


/*secciones*/
/*--------------------*/
section{
    padding-bottom: 20px;
    margin-bottom: 20px;/*dos valores (arriba abajo - izquierda derecha)*/
}


/*inicio section 1*/
/*--------------------*/
.section-1 h2{
    background-color: #3F4A4F;
    color: #FAEDCD;
    margin-bottom:20px; 
}

/*--------------------*/
/*fin de secction1*/


/*inicio section 2*/
/*--------------------*/
.section-2 h2{
    background-color: #3A5A40;
    color: #FAEDCD;
    margin-bottom: 30px;
}

.li-encontraras a{
    text-decoration: none;
}

.li-encontraras li{
    list-style-type: none;
    white-space: nowrap;
    margin: 0 50px;
}

.li-encontraras{
    display: flex;
    flex-direction: row;
    justify-content: center; /*Como amodar los hijos*/
    gap: 20px;
}
/*--------------------*/
/*fin de secction2*/


/*inicio section 3*/
/*--------------------*/


.section-3 h2{
    background-color: #8B5E34;
    color: #FAEDCD;
    margin-bottom: 30px;
}

.usuarios{ /* flex acomoda los hijos directos del contenedor */
    display: flex; /*quiero controlar cómo acomodas a mis hijos directos*/
    flex-direction: row; /*en qué direccion debe acomodar a esos hijos*/
    margin-left: 20px;
}

.comparte-tu-ruta,
.caja-de-comentarios{
    margin-left: 20px;
}

.inicio-sesion,
.registrar-usuario{
    max-width: 350px;
    width: 100%;
    border: solid;
    text-align: left;
    margin-bottom: 20px;
}

.registrar-usuario{
    margin-left: 20px;
}

.boton-de-registro{
    background-color: #4A6FA5;
    color: #FAEDCD;
}

.boton-de-registro:hover{
    background-color: #2F6F73;
}

.boton-de-inicio{
    background-color: #3A5A40;
    color: #FAEDCD;
}

.boton-de-inicio:hover{
    background-color: #4F772D;
}

.boton-de-cierre{
    background-color: #8B5E34;
    color: #FAEDCD;
}

.boton-de-cierre:hover{
    background-color: #A47148;
}

.experiencia{
    display: block; /*lo alinea como bloque*/
}

.lista-de-rutas{
    border: solid;
    max-width: 400px;
    width: 100%;
    margin-top: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

article{
    overflow-wrap: break-word; /*evita el desbordamiento de texto*/
    border: 2px dotted;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
/*--------------------*/
/*fin de secction3*/


/*--------------------*/
/*fin de secciones*/






/*inicio footer*/
/*--------------------*/
footer{
    border-top: dotted;
}
/*--------------------*/
/*fin de footer*/