body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Yuyu Short", sans-serif;
    font-size: 100px;
    margin: 0;
    background-color: #1b4532;
}

section.section-1 h2{
    background-color: #343A40;
    color: #A9D6E5;
    margin: 20px 0px; /*dos valores (arriba abajo - izquierda derecha)*/
}

section.section-2 h2{
    background-color: #BC6C25;
    color: #5C4033;
    margin: 20px 0px;
}

section.section-3 h2{
    background-color: #212529;
    color: #588157;
    margin: 20px 0px;
}

.eslogan p{
    margin: 0;
}

hr{
    border: 2px dotted black;
}